
# Ignore node_modules (will be installed in the container)
node_modules

# Ignore build artifacts
.next

# Ignore local environment files
.env
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp